:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(0, 0, 0);
  background-color: #ccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all {
  background-color: white;
  width: 1200px;
  place-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

header {
  font-size: 30px;
  color: #003580;
  line-height: 1;
  text-align: center;
}

.renderBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 70px;
  border-radius: 8px;
  gap: 30px;
  text-align: center;
  font-size: large;
}

label {
  font-weight: 700;
}

.inputBox {
  height: 30px;
  width: 150px;
  background-color: transparent;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 5px;
  margin: 5px;
  font-size: 17px;
  color: #000000;
}

.plusBtn {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px 8px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  background-color: #ffd500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #000000;
  transform: scale(1.05);
}

.tableBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

table {
  border-collapse: collapse;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  /* border-radius가 적용되도록 overflow hidden 추가 */
  /*요소의 크기를 유지하면서 내부 콘텐츠가 넘치지 않도록 할 수 있고 요소 크기 초과하는 콘텐츠 보이지 않게 한다.*/
}

.firstTable {
  background-color: #003580;
  color: white;
  height: 40px;
  font-weight: 600;
}

.secondBtn {
  height: 40px;
  font-weight: 500;
}

.even {
  background-color: rgb(234, 241, 248);
}

.odd {
  background-color: rgb(212, 227, 242);
}

.deleteBtn {
  background-color: #dc3545;
  color: white;
  display: column;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 50px;
  height: 30px;
  font-weight: 800;
}

footer {
  width: 100%;
  text-align: center;
  font-size: small;
  padding-top: 5px;
}